p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(219, 219, 219);
}

header {
    background-color: black;
    color: white;
    padding-top: 5px;
}

.header_drop_text_link {
    color: black;
    text-decoration: none;
}

.dropped {
    display: none;
}

.drop_menu_link {
    text-decoration: none;
    color: black;
}

.drop_menu {
    background-color: rgb(223, 223, 223);
    max-width: 200px;
    padding: 0 15px;
    position: absolute;
    top: 120px;
    z-index: 2;
}

.drop_menu_ul {
    padding-left: 0;
    list-style: none;
}

.drop_menu_list {
    margin-bottom: 25px;
}

.header_drop_text {
    font-size: 15px;
    opacity: 0.5;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}

.header_up_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_img {
    max-width: 50px;
}

.tg {
    max-width: 40px;
}

.header_socials,
.header_logo_block {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.header_number {
    margin-right: 10px;
}

.header_logo_text {
    margin-top: 15px;
}

.header_drop {
    background-color: white;
    color: black;

}

.header_drop {
    padding: 20px 0;
}

.header_down_block {
    display: flex;
    justify-content: space-between;

}

.article_block,
.pages {
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    max-width: 1300px;
}


.article_date_img,
.article_comments_img,
.article_tag_img,
.article_watches {
    max-width: 20px;
}

.comments_text {
    margin-right: 15px;
}

.date_comments {
    display: flex;
}

.date_text {
    margin-right: 20px;
}

.date_text,
.comments_text {
    margin-left: 5px;
}

.comments_text {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.article_tag {
    display: flex;
    max-width: 200px;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.red_rect {
    background-color: red;
}

.text_rect {
    background-color: black;
}

.article_tags_link {
    display: block;
    text-decoration: none;
    color: white;
}

.red_rect,
.text_rect {
    padding: 5px;
    height: 20px;
}

.article_tag_text {
    background-color: black;
    color: white;
}

.article_tags {
    display: flex;
    flex-wrap: wrap;
}

.article_text_par {
    margin-bottom: 15px;
}

.btn_watches {
    display: flex;
    align-items: center;
}

.article_watches {
    opacity: 0.5;
    margin-right: 5px;
}

.number_watches,
.date_comments,
.posts_date {
    opacity: 0.5;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 700;
    margin-right: 15px;
    display: inline-block;
    transition: 0.5s;
    border: 1px solid black;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.6;
}

.article_title {
    margin-bottom: 5px;
}

.date_comments,
.article_tags {
    margin-bottom: 15px;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;

}

.rubricator,
.posts,
.archives {
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 290px;

}

.rubricator_links {
    color: black;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

.rubricator_links::after {
    position: absolute;
    content: "";
    width: 0;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
    border-color: red;
}

.rubricator_links:hover::after {
    width: 100%;
    border: 1px solid red;
}


.rubricator_list {
    margin-bottom: 10px;
}

.rubricator_title {
    margin-bottom: 15px;
    position: relative;
}

.rubricator_title::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 30px;
    background-color: red;
    left: -10px;
}

.rubricator_ul {
    list-style: none;
    padding-left: 15px;
}

.posts_date {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.posts_date_text {
    margin-left: 10px;
    font-size: 13px;
}

.aside_img {
    max-width: 15px;
}

.pages .container,
.pages_numbers {
    display: flex;
}

.pages .container {
    justify-content: space-between;
    align-items: center;
}

.pages_numbers {
    border-bottom: 2px solid rgb(224, 224, 224);
}

.index {
    height: 2500px;
}

.pages_numbers_num {
    margin-right: 20px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.active {
    border-bottom: 3px solid rgb(145, 145, 145);
}

.pages_prev,
.pages_next {
    color: black;
}

.pages_prev {
    margin-right: 8px;
}

.pages_next {
    margin-left: 8px;
}

.on_top_btn {
    width: 35px;
    height: 35px;
    background-color: gray;
    opacity: 0.7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    float: right;
    position: fixed;
    left: 95%;
    top: 85%;
}

.aside_btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}

footer {
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 20px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer_links {
    text-decoration: none;
    color: white;
}

.footer_logo {
    display: flex;
    align-items: center;
}

.footer_logo_text {
    margin-top: 15px;
}

.footer_ul {
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding-left: 0;
}

.footer_list {
    font-size: 14px;
    font-weight: normal;
    list-style-type: none;

    margin-top: 15px;
}

.footer_logo_block ul {
    padding-left: 0;
}

.burger_menu .container {
    display: flex;
}

.burger_menu_line {
    width: 50px;
    height: 10px;
    background-color: gray;
    border-radius: 5px;
    display: none;
    margin-top: 5px;
}

.phone_btn {
    display: none;
}

.burger_menu_lines {
    display: flex;
    flex-direction: column;
}

.burger_show {
    display: none;
}

.drop_burger_menu {
    background-color: white;
    border: 1px solid black;
    max-width: 300px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

.drop_burger_menu details {
    margin-bottom: 10px;
}

.rubricator_phone {
    display: none;
}

.pages_pn_after {
    display: none;
}

@media(max-width: 1126px) {
    .header_drop_text {
        font-size: 12px;

    }

    .on_top_btn {
        position: relative;
        left: 0;
        top: 0;
    }

    .index {
        height: 2600px;
    }
}

@media(max-width: 1096px) {

    .rubricator,
    .posts,
    .archives {
        max-width: 200px;
    }


}

@media(max-width: 1194px) {
    .index {
        display: none;
    }
    .phone_btn {
        display: flex;
        margin-left: 200px;
    }
}

@media(max-width: 1006px) {
    .rubricator_phone {
        display: inline-block;
    }

    .header_drop {
        display: none;
    }

    .burger_menu_line {
        display: inline-block;
    }

    .header_drop_text {
        display: inline;
        font-size: 16px;
    }

    .drop_menu_list {
        opacity: 0.5;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .rubricator_title {
        display: inline;
    }


    .rubricator_phone summary {
        list-style: none;
    }

    .rubricator_phone {
        margin-top: 20px;
    }

    .rubricator_phone .rubricator_ul {
        background-color: white;
        border: 1px solid black;
        max-width: 300px;
        padding: 10px;
    }

    .rubricator_phone details {
        margin-bottom: 15px;
    }

    .phone {
        display: none;
    }


    .rub_title_phone {
        color: red;
    }

    .header_up_block {
        flex-direction: column;
    }


    .footer_ul {
        font-size: 17px;
    }

    .footer_links, .footer_list {
        font-size: 13px;
    }

}



.pages_after {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.btn_watches_content {
    display: flex;
}

.watches_content {
    display: flex;
    align-items: center;
}

@media(max-width: 809px) {
    .pages .container {
        justify-content: center;
    }

    .phone_pages {
        display: none;
    }

    .pages_pn_after {
        display: inline-block;
    }

    footer .container {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }

}

@media(max-width: 605px) {
    .btn_watches_content {
        display: flex;
        flex-direction: column;
    }

    .watches_content {
        display: flex;
        margin-top: 10px;
    }

    .pages_numbers_num {
        font-size: 15px;
        margin-right: 10px;
    }

    footer .container {
        flex-wrap: wrap;
    }

    .footer_ul {
        margin-bottom: 15px;
    }

    .article_block {
        max-width: 300px;
    }

    .pages {
        max-width: 100%;
        padding: 5px;
    }

    .pages .container {
        margin: 0 0;
        padding: 0;
    }

    .phone_btn {
        margin-left: 100px;
    }
}

@media(max-width: 335px) {

    .container {
        padding: 5px;
    }

    .rubricator_phone {
        margin-left: 5px;
    }

    .article_tag_text {
        font-size: 14px;
    }

    .article_tag_img {
        max-width: 15px;
    }
}